{% block content %}
  <p>
    Nombre del cliente: {{ name }} {{ last_name }} <br>
    Correo electronico: {{ email }} <br>
    Numero: {{ number }} <br>
    Modelo: {{ model }} <br>
    Color: {{ color }} <br>
    Porta acicates: {{ element }} <br>
    Descripcion: {{ description }} <br>
  </p>
  <p>
    Direccion: {{ street_col }} <br>
    Calle, Col. Número: {{ state }} <br>
    Codigo Postal: {{ cp }} <br>
  </p>
  <p>
    Circunferencia de piernas a los... <br>
    &nbsp;&nbsp;12 cm: {{ leg_circ_12 }} <br>
    &nbsp;&nbsp;16 cm: {{ leg_circ_16 }} <br>
    &nbsp;&nbsp;20 cm: {{ leg_circ_20 }} <br>
    &nbsp;&nbsp;24 cm: {{ leg_circ_24 }} <br>
    &nbsp;&nbsp;28 cm: {{ leg_circ_28 }} <br>
    &nbsp;&nbsp;32 cm: {{ leg_circ_32 }} <br>
    &nbsp;&nbsp;36 cm: {{ leg_circ_36 }} <br>
    &nbsp;&nbsp;40 cm: {{ leg_circ_40 }} <br>
    &nbsp;&nbsp;44 cm: {{ leg_circ_44 }} <br>
  </p>
  <p>
    Circunferencia de los dedos: {{ finger_circ }} <br>
    Circunferencia del hueso del pie: {{ bone_finger_circ }} <br>
    Circunferencia del empeine: {{ instep_circ }} <br>
    Circunferencia del talón hasta el doblez del pie: {{ circ_heel_to_foot }} <br>
    Distancia de la punta del dedo más largo hasta el talón: {{ circ_tip_to_hell }} <br>
  </p>
{% endblock %}