{% block content %}
  <p>
    <b>Nombre del cliente:</b> {{ name }} {{ last_name }} <br>
    <b>Correo electronico:</b> {{ email }} <br>
    <b>Numero:</b> {{ number }} <br>
    <b>Modelo:</b> {{ model }} <br>
    <b>Color:</b> {{ color }} <br>
    <b>Porta acicates:</b> {{ element }} <br>
  </p>
  <p>
    <b>Direccion</b><br>
    &nbsp;&nbsp;&nbsp;<b>Calle, Col. Número:</b> {{ street_col }} <br>
    &nbsp;&nbsp;&nbsp;<b>Estado:</b> {{ state }} <br>
    &nbsp;&nbsp;&nbsp;<b>Codigo Postal:</b> {{ cp }} <br>
  </p>
{% endblock %}