{% block content %}
  <p>
    <b>Nombre del cliente:</b> {{ name }} {{ last_name }} <br>
    <b>Correo electrónico:</b> {{ email }} <br>
    <b>Número de teléfono:</b> {{ phone }} <br>
    <b>Modelo:</b> {{ model }} <br>
    <b>Color:</b> {{ color }} <br>
    <b>Con iniciales:</b> {{ with_initials }} <br>
    <b>Iniciales:</b> {{ initials }} <br>
  </p>
  <p>
    <b>Dirección</b><br>
    &nbsp;&nbsp;&nbsp;<b>Calle, Col. Número:</b> {{ street_col }} <br>
    &nbsp;&nbsp;&nbsp;<b>Estado:</b> {{ state }} <br>
    &nbsp;&nbsp;&nbsp;<b>Código Postal:</b> {{ cp }} <br>
  </p>
  <p>
    <b>Circunferencia de la cadera:</b> {{hip_circ }} <br>
    <b>Circunferencia de parte alta:</b> {{ high_circ }} <br>
    <b>Circunferencia de parte media:</b> {{ med_circ }} <br>
    <b>Circunferencia de parte baja:</b> {{ down_circ }} <br>
    <b>Circunferencia de pantorrilla:</b> {{ calf_circ }} <br>
    <b>Circunferencia a los 12cm:</b> {{ circ_12 }} <br>
    <b>Circunferencia a los 17cm:</b> {{ circ_17 }} <br>
    <b>Circunferencia a los 22cm:</b> {{ circ_22 }} <br>
    <b>Circunferencia a los 27cm:</b> {{ circ_27 }} <br>
    <b>Circunferencia boca del botín:</b> {{ mouth_circ }} <br>
  </p>
{% endblock %}