{% block content %}
  <p>
    Nombre del cliente: {{ name }} {{ last_name }} <br>
    Correo electronico: {{ email }} <br>
    Numero: {{ number }} <br>
    Modelo: {{ model }} <br>
    Color: {{ color }} <br>
    Con iniciales: {{ with_initials }} <br>
    Iniciales: {{ initials }} <br>
  </p>
  <p>
    Direccion: {{ street_col }} <br>
    Calle, Col. Número: {{ state }} <br>
    Codigo Postal: {{ cp }} <br>
  </p>
  <p>
    Circunferencia de la cadera: {{hip_circ }} <br>
    Circunferencia de parte alta: {{ high_circ }} <br>
    Circunferencia de parte media: {{ med_circ }} <br>
    Circunferencia de parte baja: {{ down_circ }} <br>
    Circunferencia de pantorrilla: {{ calf_circ }} <br>
    Circunferencia a los 12cm: {{ circ_12 }} <br>
    Circunferencia a los 17cm: {{ circ_17 }} <br>
    Circunferencia a los 22cm: {{ circ_22 }} <br>
    Circunferencia a los 27cm: {{ circ_27 }} <br>
    Circunferencia boca del botín: {{ mouth_circ }} <br>
  </p>
{% endblock %}