.parallax-door
    height 370px

.aboutImg
    text-align center
    background url(../img/about.jpg) center center
    background-size cover
    height 485px

.about-content
    padding: 145px 0;
    width: 703px;
    margin: 0 auto;
    @media mobile
        width 100%
        padding 56px 20px
    p
        font-size 18px
        font-weight bold
        font-style normal
        font-stretch normal
        color #4a4a4a
        letter-spacing 1.7px
        text-align justify
        padding-bottom 15px

        @media mobile
          font-size 16px
          letter-spacing 1.5px

.begona-text
    width 100%
    text-align center
    padding 58px 0 93px
    @media mobile
        padding 25px 0 50px
    @media ipad
        padding 25px 0 50px
    img
        display inline-block

.benora-content
    width 100%
    padding 0
    p
        font-family 'Gotham Rounded Book'
        font-size 17px
        font-weight normal
        font-stretch normal
        line-height 1.35
        text-align justify
        letter-spacing 0
        color #4a4a4a
        @media mobile
            font-size 16px

.parallax-window
    &.about-window
        @media mobile
         height 220px
        @media mobileLand
         height 300px

