{% extends "partials/base.html" %}

{% block meta %}
{% endblock %}

{% block title %}
Preguntas frecuentes
{% endblock %}

{% block content %}
<div class="container mt">
  <section class="faq">
    <h2 class="inner-heading">Preguntas frecuentes</h2>
    <!--faq1-->
    <div class="faq-box">
    <div class="row">
    <div class="col-sm-3">
    <div class="faq-img">
    <img src="img/faq-img1.png" class="img-responsive" alt="Faq img1"/>
    </div>
    </div>
     <div class="col-sm-9">
     <div class="faq-content">
     <h5>¿En cuánto tiempo me llegan mis botas?</h5>
     <p>Tardamos 45 días en entregar el producto.</p>
     </div>
     </div>
    </div>
    </div>
      <!--faq2-->
    <div class="faq-box">
    <div class="row">
    <div class="col-sm-3">
    <div class="faq-img">
    <img src="img/faq-img2.png" class="img-responsive" alt="Faq img2"/>
    </div>
    </div>
     <div class="col-sm-9">
     <div class="faq-content">
     <h5>¿Cuál es su ubicación?</h5>
     <p>Estamos ubicados en Boca del Río, Veracruz, México. Fabricamos en León , Guanajuato.</p>
     </div>
     </div>
    </div>
    </div>
       <!--faq3-->
    <div class="faq-box">
    <div class="row">
    <div class="col-sm-3">
    <div class="faq-img">
    <img src="img/faq-img3.png" class="img-responsive" alt="Faq img3"/>
    </div>
    </div>
     <div class="col-sm-9">
     <div class="faq-content">
     <h5>¿Hay botas para hombre?</h5>
     <p>Todas nuestras botas, botines y chaparreras, son unisex.</p>
     </div>
     </div>
    </div>
    </div>
     <!--faq4-->
    <div class="faq-box">
    <div class="row">
    <div class="col-sm-3">
    <div class="faq-img">
    <img src="img/faq-img4.png" class="img-responsive" alt="Faq img4"/>
    </div>
    </div>
     <div class="col-sm-9">
     <div class="faq-content">
     <h5>¿Son sólo para montar?</h5>
     <p>Pueden usarse tanto cómo equipo ecuestre o para vestir casual.</p>
     </div>
     </div>
    </div>
    </div>
     <!--faq5-->
    <div class="faq-box">
    <div class="row">
    <div class="col-sm-3">
    <div class="faq-img">
    <img src="img/faq-img5.png" class="img-responsive" alt="Faq img5"/>
    </div>
    </div>
     <div class="col-sm-9">
     <div class="faq-content">
     <h5>¿Qué colores existen?</h5>
     <p>Cualquier modelo de botas puede ir en el color de piel que el cliente desee, siempre y cuando sean de los que nuestra marca utiliza. No se pueden mandar a hacer diseños diferentes a los que nuestra marca maneja.</p>
     </div>
     </div>
    </div>
    </div>
    <!--faq6-->
    <div class="faq-box">
    <div class="row">
    <div class="col-sm-3">
    <div class="faq-img">
    <img src="img/faq-img6.png" class="img-responsive" alt="Faq img6"/>
    </div>
    </div>
     <div class="col-sm-9">
     <div class="faq-content">
     <h5>¿Necesito porta acicates?</h5>
     <p>Si las botas van a ser utilizadas para montar, se le da la opción al cliente de escoger el porta acicates ya sea:</p>
     <span class="sub-box"><strong>En broche:</strong>
     <img src="img/faq-img6a.png" class="img-responsive" alt="faq img6a"/></span>

     <span class="sub-box"> <strong>O a los costados </br>del cierre: </strong>
     <img src="img/faq-img6b.png" class="img-responsive" alt="faq img6b"/>
     </span>

     <p>Si las botas son para vestir casual el porta acicates no es indispensable , pero eso ya es el gusto de cada persona y es necesario que expliquen si lo quieren o no al momento de ingresar el pedido.</p>
     </div>
     </div>
    </div>
    </div>
     <!--faq8-->
    <div class="faq-box">
    <div class="row">
    <div class="col-sm-3">
    <div class="faq-img">
    <img src="img/faq-img8.png" class="img-responsive" alt="Faq img8"/>
    </div>
    </div>
     <div class="col-sm-9">
     <div class="faq-content">
     <h5>¿Cuánto debo pagar?</h5>
     <p>Una vez ingresadas las medidas y contestadas las preguntas que arriba se mencionan, se necesita el 50% de anticipo para poder meter la orden a producción, una vez realizado esto el tiempo de entrega es de 45 días hábiles.</p>
     </div>
     </div>
    </div>
    </div>
       <!--faq9-->
    <div class="faq-box">
    <div class="row">
    <div class="col-sm-3">
    <div class="faq-img">
    <img src="img/faq-img9.png" class="img-responsive" alt="Faq img9"/>
    </div>
    </div>
     <div class="col-sm-9">
     <div class="faq-content">
     <h5>¿Cómo funciona el envío?</h5>
     <p>Este costo será cubierto por nosotros. Enviamos a toda la república, para pedirlas debe estar cubierto el 50% de anticipo y para que las envíen deben cubrir el otro 50% restante.</p>
     </div>
     </div>
    </div>
    </div>
    <!--faq10-->
    <div class="faq-box">
    <div class="row">
    <div class="col-sm-3">
    <div class="faq-img">
    <img src="img/faq-img10.png" class="img-responsive" alt="Faq img10"/>
    </div>
    </div>
     <div class="col-sm-9">
     <div class="faq-content">
     <h5>¿Tengo garantía?</h5>
     <p>La garantía del producto es de un mes después de ser entregado, y cubre únicamente los defectos de fabricación.</p>
     </div>
     </div>
    </div>
    </div>


     <!--faq12-->
    <div class="faq-box">
    <div class="row">
    <div class="col-sm-3">
    <div class="faq-img">
    <img src="img/faq-img12.png" class="img-responsive" alt="Faq img12"/>
    </div>
    </div>
     <div class="col-sm-9">
     <div class="faq-content">
     <h5>¿Qué pasa si no me quedan mis botas?</h5>
     <p>Al llegar las botas, si éstas necesitan algún ajuste de talla se arreglará sin ningún costo adicional, con la finalidad de darle al cliente la atención y la comodidad que nuestros clientes buscan en un par de botas, esto sólo aplica dentro del primer mes después de entregadas.</p>

     <p>Es completamente normal que las botas queden muy ajustadas de la pierna y en ocasiones altas del tubo al momento de probarlas, pero es lo correcto y lo que buscamos en nuestros modelos, recomendamos usarlas puesto que la piel da de sí varios centímetros de más y la altura de la bota baja hasta 4 centímetros al darles uso. Si lo anterior mencionado no sucede, pedimos de favor contactarnos para hacerle los ajustes necesarios a sus botas. El primer envío de regreso debe ser pagado por parte del cliente, y los demás corren por nuestra cuenta.</p>
     </div>
     </div>
    </div>
    </div>

      <!--faq13-->
    <div class="faq-box">
    <div class="row">
    <div class="col-sm-3">
    <div class="faq-img">
    <img src="img/faq-img13.png" class="img-responsive" alt="Faq img13"/>
    </div>
    </div>
     <div class="col-sm-9">
     <div class="faq-content">
     <h5>¿Cómo limpio mis botas?</h5>
     <p>Recomendamos limpiarlas con jabones o aceites especiales para cuero, de esta manera tus botas van a durar mucho más tiempo como si estuvieran recién sacadas de su empaque, hay que recordar que la piel si no se humecta se reseca y se puede llegar a romper con malos cuidados. Limpiar las botas sin quitarlas pues será mucho más fácil. Después de sacudir con un trapo el polvo, aplicar crema para piel y dejar secar por unos minutos. A continuación, si así se desea puede sacarle brillo utilizando un cepillo de cerdas suaves, todo esto hacerlo con las botas puestas. Cuidar la piel de tus botas solo con jabones y cremas de buena calidad que nutran la piel y eviten el envejecimiento prematuro de la misma. Limpiar las botas frecuentemente y no olvidar quitar el exceso de tierra y polvo en los cierres con un cepillo de cerda.</p>
     </div>
     </div>
    </div>
    </div>

    <!--faq14-->
    <div class="faq-box">
    <div class="row">
    <div class="col-sm-3">
    <div class="faq-img">
    <img src="img/faq-img14.png" class="img-responsive" alt="Faq img14"/>
    </div>
    </div>
     <div class="col-sm-9">
     <div class="faq-content">
     <h5>¿A qué cuenta puedo depositar?</h5>
     <p>Banamex</p> <p>Nombre: Begoña Fernández Gómez</p> <p>Sucursal 7001 Plaza del Río, Veracruz</p> <p>Número de cuenta: 544201</p> <p>Clabe Interbancaria: 002905700105442018</p> <p>Número de tarjeta: 5204 1643 9556 4195</p>
     </div>
     </div>
    </div>
    </div>
    </section>

  </div>
{% endblock %}
