@font-face
    font-family 'Nexa'
    src url('../fonts/NexaBold.eot')
    src url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaBold.woff2') format('woff2'),
        url('../fonts/NexaBold.woff') format('woff'),
        url('../fonts/NexaBold.ttf') format('truetype'),
        url('../fonts/NexaBold.svg#NexaBold') format('svg')
    font-weight bold
    font-style normal

@font-face
    font-family 'Nexa Slab Bold FREE'
    src url('../fonts/NexaSlabBoldFREE.eot')
    src url('../fonts/NexaSlabBoldFREE.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaSlabBoldFREE.woff2') format('woff2'),
        url('../fonts/NexaSlabBoldFREE.woff') format('woff'),
        url('../fonts/NexaSlabBoldFREE.ttf') format('truetype'),
        url('../fonts/NexaSlabBoldFREE.svg#NexaSlabBoldFREE') format('svg')
    font-weight bold
    font-style normal

@font-face
    font-family 'Gotham Rounded'
    src url('../fonts/GothamRounded-Medium.eot')
    src url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-Medium.woff2') format('woff2'),
        url('../fonts/GothamRounded-Medium.woff') format('woff'),
        url('../fonts/GothamRounded-Medium.ttf') format('truetype'),
        url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg')
    font-weight 500
    font-style normal


@font-face
    font-family 'Gotham Rounded Book'
    src url('../fonts/GothamRounded-Book.eot')
    src url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-Book.woff2') format('woff2'),
        url('../fonts/GothamRounded-Book.woff') format('woff'),
        url('../fonts/GothamRounded-Book.ttf') format('truetype'),
        url('../fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg')
    font-weight normal
    font-style normal

@font-face
  font-family 'Myriad Pro'
  font-weight $light
  font-style normal
  src url('../fonts/MyriadPro-Light.otf')