.cover
  background-position center
  background-size cover

.simple-parallax
  background-attachment fixed

.form-message
	&.error,
	&.success
		margin 30px 0

	&.error
		color #ff3636

	&.success
		color #5cab5c

	.fa
		color inherit
		display inline-block
		margin-top 0
		float none
		clear none
		vertical-align middle

	span
    float none
    clear none
    display inline-block
    margin-left 0.6em
    vertical-align middle

.begona-loader
  display none
  margin 30px 0 20px 0
  text-align center
  width 110px

  .ball-pulse-sync
    display inline-block

    div
      background #151515