{% load static from staticfiles %}
<div class="container-full">
  <footer>
  <div class="container">
    <div class="footer-horse"><img src="{% static 'img/footer-horse.png' %}" alt="Footer Horse" /></div>
    <div class="footer-wrap"> <img src="{% static 'img/footer-logo.png' %}" alt="Footer Logo" />
      <p> &copy; Begoña Fernández <br />
        2016 todos los derechos</br>
        reservados</p>
      <a href="www.facebook.com/Begoña-Fernández-405251102974178/?fref=ts" title="Facebook"><i class="fa fa-facebook-square"></i></a> </div>
    <div class="footer-info">
      <div><i class="fa fa-envelope"></i> <a href="{{ contact }}">begofer89@hotmail.com</a></div>
      <div><i class="fa fa-phone call"></i><a href="tel:2227890768">222 789 0768</a></div>
    </div>
    </div>
  </footer>
</div>
