{% extends "partials/base.html" %}
{% load static from staticfiles %}

{% block meta %}
{% endblock %}

{% block title %}
Galería
{% endblock %}

{% block content %}
<style>
  .box1 {
    display: inline-block;
    height: 100px;
    width: 100px;
  }
</style>
<!--Galería-->

<!--Galería-->
<div class="container mt">
<div class="gallery">
<h2 class="inner-heading">Galería</h2>
<div class="gallery-wrapper" data-gallery-url="{% url 'api_image_list' %}">
  <div class="galería-inner">
    <div class="row gallery-elements">
    </div>
  </div>
  <div id="loader">
  	<div class="loader">
      <div class="line-spin-fade-loader">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
    </div>
  	Cargando imagenes
  </div>
</div>

<!-- Gallery-1 -->
<div class="modal fade" id="galleryOne" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog new-model" role="document">
    <div class="modal-content">
      <div class="modal-body ">
        <div class="row">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="{% static 'img/close.png' %}" /></span></button>
          <div class="col-xs-12" id="slider">
            <!-- Top part of the slider -->
            <div class="row">
              <div class="col-sm-12" id="carousel-bounding-box">
                <div class="carousel slide" id="myCarousel" data-interval="false">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                  </div>
                  <!-- Carousel nav -->

                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon-chevron-left"><img src="{% static 'img/left-arrow.png' %}" /></span> </a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon-chevron-right"><img src="{% static 'img/right-arrow.png' %}" /></span> </a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
