{% extends "partials/base.html"%}
{% load static from staticfiles %}
{% load humanize %}

{% block meta %}
{% endblock %}

{% block title %}
Hacer pedido | Botines
{% endblock %}

{% block content %}
<form id="booties-form" class="product-form-section" action="{% url 'contact:booty' %}" method="post">
  {% csrf_token %}
  <h1 class="section-title">Hacer pedido</h1>
  <div class="product-form booty-form">
    <h2 class="form-title">Llena tus datos</h2>
    <div class="input-row">
      <label for="name">Nombre</label>
      <div class="input-wrapper">
        <div class="first-name-input">
          <input type="text" id="name" class="full-input" name="name" placeholder="Nombre (s)">
        </div>
        <div class="last-name-input">
          <input type="text" id="last_name" class="full-input" name="last_name" placeholder="Apellidos">
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="street_col">Dirección</label>
      <div class="input-wrapper">
        <div class="address-input">
          <input type="text" id="street_col" class="full-input" name="street_col" placeholder="Calle, Col. Número">
        </div>
        <div class="country-input">
          <input type="text" id="state" class="full-input" name="state" placeholder="Estado">
        </div>
        <div class="postal-code-input">
          <input type="text" id="cp" class="full-input" name="cp" placeholder="C.P.">
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="email">Correo electrónico</label>
      <div class="input-wrapper">
        <div class="full-input">
          <input type="email" id="email" class="full-input" name="email">
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="number">Número de calzado mexicano</label>
      <div class="input-wrapper">
        <div class="shoe-size-input">
          <input type="number" id="number" class="full-input" name="number" min="1" max="12" placeholder="Ej. 7">
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="model">Modelo</label>
      <div class="input-wrapper">
        <div class="shoe-size-input">
          <input type="text" disabled id="model" class="full-input" name="model" value="{{ product }}">
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="color">Color de la piel</label>
      <div class="input-wrapper">
        <div class="shoe-size-input">
          <select id="color" class="full-input" name="color">
            <option value="Negro" {% if color == 'Negro' %}selected{% endif %}>Negro</option>
            <option value="Café" {% if color == 'Café' %}selected{% endif %}>Café</option>
            {% if product != 'Botín clásico' %}
            <option value="Camel" {% if color == 'Camel' %}selected{% endif %}>Camel (No siempre esta disponible)</option>
            {% endif %}
          </select>
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="element">Porta acicates</label>
      <div class="input-wrapper">
        <div class="shoe-size-input">
          <select id="element" class="full-input" name="element">
            <option value="En broche">En broche</option>
            <option value="A los costados del cierre">A los costados del cierre</option>
          </select>
        </div>
      </div>
    </div>
    <span class="single-product-price">Precio del botín ${{ price|intcomma }}</span>
    <div class="form-message">
    </div>
    <button type="sumbit" name="send">Hacer pedido</button>
    <div class="loader begona-loader">
      <div class="ball-pulse-sync">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</form>
{% include "partials/order_modal.html" %}
{% endblock %}