{% extends "partials/base.html" %}
{% load static from staticfiles %}

{% block meta %}
{% endblock %}

{% block title %}
Hacer pedido | Chaparreras
{% endblock %}

{% block content %}
<form id="chaps-form" class="product-form-section" action="{% url 'contact:chaps' %}" method="post">
  {% csrf_token %}
  <h1 class="section-title">Hacer pedido</h1>
  <span class="subtitle chaps">¿Cómo sé mis medidas?</span>
  <span class="chaps-example-text">
    Ejemplo de una pierna.<br>
    Tomar medidas estando de pie con Con botín y pantalón de montar.
  </span>
  <div class="chaps-example-content">
    <img class="show-on-mobile" src="{% static 'img/chaps-foot-mobile.png' %}" alt="Imagen de pierna" />
    <img src="{% static 'img/chaps-foot.png' %}" alt="Imagen de pierna" />
    <div class="leg-parts-div">
      <div class="leg-part-wrapper active" data-number="1">
        <div class="leg-part-content">
          <span class="leg-part-title">Cadera</span>
          <p class="leg-part-description">
            Dar medida de Circunferencia de cadera de hueso a hueso
            y dar medida desde ese punto hacia el piso (así tenemos
            la medida de la cadera y la altura a la que está)
          </p>
        </div>
      </div>
      <div class="leg-part-wrapper active" data-number="2">
        <div class="leg-part-content">
          <span class="leg-part-title">Parte alta</span>
          <p class="leg-part-description">
            Dar medida de circunferencia de dónde hace
            compás la pierna al abrir (casi rozando la ingle)
            y dar medida de ese punto hacia el piso
          </p>
        </div>
      </div>
      <div class="leg-part-wrapper active" data-number="3">
        <div class="leg-part-content">
          <span class="leg-part-title">Parte media</span>
          <p class="leg-part-description">
            Dar medida de circunferencia de la mitad del muslo
            (entre rodilla e ingle, justo a la mitad) y dar
            medida de ese punto hacia el piso
          </p>
        </div>
      </div>
      <div class="leg-part-wrapper active" data-number="4">
        <div class="leg-part-content">
          <span class="leg-part-title">Parte baja</span>
          <p class="leg-part-description">
            Dar medida de circunferencia de arriba de la
            rodilla y dar medida de ese punto hacia el piso
          </p>
        </div>
      </div>
      <div class="leg-part-wrapper active" data-number="5">
        <div class="leg-part-content">
          <span class="leg-part-title">Pantorrilla</span>
          <p class="leg-part-description">
            Dar medida de circunferencia de la parte más
            ancha de la pantorrilla y dar medida de ese punto hacia el piso
          </p>
        </div>
      </div>
      <div class="leg-part-wrapper active" data-number="6">
        <div class="leg-part-content">
          <span class="leg-part-title">Circunferencias</span>
          <ul class="leg-part-description">
            <li><strong>a)</strong> Dar medida Del piso hacia arriba a la altura de 27cm tomar circunferencia</li>
            <li><strong>b)</strong> Dar medida Del piso hacia arriba a la altura de 22cm tomar circunferencia</li>
            <li><strong>c)</strong> Dar medida Del piso hacia arriba a la altura de 17cm tomar circunferencia</li>
            <li><strong>d)</strong> Dar medida Del piso hacia arriba a la altura de 12cm tomar circunferencia</li>
          </ul>
        </div>
      </div>
      <div class="leg-part-wrapper active" data-number="7">
        <div class="leg-part-content">
          <span class="leg-part-title">Boca del botín</span>
          <p class="leg-part-description">
            Dar medida de la boca del botín (hoyo por dónde
            entra el pie al botín) para dar espacio a la
            chaparrera para que embone bien
          </p>
        </div>
      </div>
    </div>
  </div>
  <p class="product-form-alert chaps">
    Todas las medidas después de tomar la circunferencia
    se miden hacia abajo al TALÓN del botín,
    (No lo agreguen a la medida el talón del botín)
  </p>
  <div class="product-form-step">
    <h2 class="step-title" data-number="1">Mide tu pierna</h2>
    <p class="step-instructions chaps">
      Ve siguiendo los pasos y llenando los campos con tus medidas.
    </p>
    <div class="chaps-step-1-help">
      <img src="{% static 'img/chaps-arrow.png' %}" alt="Flecha" />
      Empieza aquí
    </div>
    <div class="chaps-step-1-content">
      <img src="{% static 'img/chaps-foot.png' %}" alt="Imagen de pierna" />
      <div class="leg-parts-div">
        <div class="leg-part-wrapper active" data-number="1">
          <div class="leg-part-content">
            <span class="leg-part-title">Cadera</span>
            <div class="leg-part-description">
              <input id="hip_circ" type="text" name="hip_circ" placeholder="Ej. Mide 90 cm">
            </div>
          </div>
        </div>
        <div class="leg-part-wrapper part-2" data-number="2">
          <div class="leg-part-content">
            <span class="leg-part-title">Parte alta</span>
            <div class="leg-part-description">
              <input id="high_circ" type="text" name="high_circ" placeholder="Ej. Mide 90 cm">
            </div>
          </div>
        </div>
        <div class="leg-part-wrapper" data-number="3">
          <div class="leg-part-content">
            <span class="leg-part-title">Parte media</span>
            <div class="leg-part-description">
              <input id="med_circ" type="text" name="med_circ" placeholder="Ej. Mide 90 cm">
            </div>
          </div>
        </div>
        <div class="leg-part-wrapper" data-number="4">
          <div class="leg-part-content">
            <span class="leg-part-title">Parte baja</span>
            <div class="leg-part-description">
              <input id="down_circ" type="text" name="down_circ" placeholder="Ej. Mide 90 cm">
            </div>
          </div>
        </div>
        <div class="leg-part-wrapper" data-number="5">
          <div class="leg-part-content">
            <span class="leg-part-title">Pantorrilla</span>
            <div class="leg-part-description">
              <input id="calf_circ" type="text" name="calf_circ" placeholder="Ej. Mide 90 cm">
            </div>
          </div>
        </div>
        <div class="leg-part-wrapper" data-number="6">
          <div class="leg-part-content">
            <span class="leg-part-title">Circunferencias</span>
            <div class="leg-part-description">
              <div>
                <span>27cm</span><input id="circ_27" type="text" name="circ_27">
              </div>
              <div>
                <span>22cm</span><input id="circ_22" type="text" name="circ_22">
              </div>
              <div>
                <span>17cm</span><input id="circ_17" type="text" name="circ_17">
              </div>
              <div>
                <span>12cm</span><input id="circ_12" type="text" name="circ_12">
              </div>
            </div>
          </div>
        </div>
        <div class="leg-part-wrapper" data-number="7">
          <div class="leg-part-content">
            <span class="leg-part-title">Boca del botín</span>
            <div class="leg-part-description">
              <input id="mouth_circ" type="text" name="mouth_circ" placeholder="Ej. Mide 90 cm">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-form chaps-form">
    <h2 class="form-title">Llena tus datos</h2>
    <span class="chaps-form-legend">Características generales de las chaparreras: Por la parte de afuera de la pierna lleva el cierre y lleva un resorte para que queden más pegadas </span>
    <div class="input-row">
      <label for="name">Nombre</label>
      <div class="input-wrapper">
        <input type="text" id="name" class="first-name-input" name="name" placeholder="Nombre (s)">
        <input type="text" id="last_name" class="last-name-input" name="last_name" placeholder="Apellidos">
      </div>
    </div>
    <div class="input-row">
      <label for="street_col">Dirección</label>
      <div class="input-wrapper">
        <input type="text" id="street_col" class="address-input" name="street_col" placeholder="Calle, Col. Número">
        <input type="text" id="state" class="country-input" name="state" placeholder="Estado">
        <input type="text" id="cp" class="postal-code-input" name="cp" placeholder="C.P.">
      </div>
    </div>
    <div class="input-row">
      <label for="email">Correo electrónico</label>
      <div class="input-wrapper">
        <input type="email" id="email" class="full-input" name="email">
      </div>
    </div>
    <div class="input-row">
      <label for="number">Número de calzado mexicano</label>
      <div class="input-wrapper">
        <input type="number" id="number" class="shoe-size-input" name="number" min="1" max="12" placeholder="Ej. 7">
      </div>
    </div>
    <div class="input-row">
      <label for="model">Modelo</label>
      <div class="input-wrapper">
        <input type="text" disabled id="model" class="shoe-size-input" name="model">
      </div>
    </div>
    <div class="input-row">
      <label for="color">Color de la piel</label>
      <div class="input-wrapper">
        <select id="color" class="skin-input" name="color">
          <option value="Negro">Negro</option>
          <option value="Café">Café</option>
          <option value="Camello">Camello</option>
        </select>
      </div>
    </div>
    <div class="input-row">
      <label for="with_initials">Con iniciales</label>
      <div class="input-wrapper">
        <select id="with_initials" class="skin-input" name="with_initials">
          <option value="Sí">Sí</option>
          <option value="No">No</option>
        </select>
      </div>
    </div>
    <div class="input-row">
      <label for="initials">¿Qué iniciales?</label>
      <div class="input-wrapper">
        <textarea id="initials" class="full-input initials-input" name="initials" placeholder="Ej. AI"></textarea>
      </div>
    </div>
    <div class="form-message">
    </div>
    <button type="sumbit" name="send">Hacer pedido</button>
    <div class="loader begona-loader">
      <div class="ball-pulse-sync">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</form>
{% endblock %}