{% extends "partials/base.html" %}
{% load static from staticfiles %}
{% load humanize %}

{% block meta %}
{% endblock %}

{% block title %}
Hacer pedido | Botas
{% endblock %}

{% block content %}
<form id="boots-form" class="product-form-section" action="{% url 'contact:boot' %}" method="post">
  {% csrf_token %}
  <h1 class="section-title">Hacer pedido</h1>
  <span class="subtitle">¿Cómo sé mis medidas?</span>

  <span class="boot-example-text">Ejemplo de una pierna de 44 cm de largo:</span>
  <img src="{% static 'img/leg-example.png' %}" class="boot-example-image" alt="Ejemplo de una pierna de 44 cm de largo." />
  <div class="product-form-step">
    <h2 class="step-title" data-number="1">Mide tu pierna</h2>
    <p class="step-instructions boots-1">
      Ve midiéndo la circunferencia de tu pierna
      de abajo para arriba cada 4 cm. Y ve llenando los recuadros,
      empezando a 12 cm del talón:
    </p>
    <p class="product-form-alert boots">
      Se recomienda medirse con la ropa que vayas a utilizar siempre que uses las botas.
    </p>
    <div class="boot-step-1-content">
      <span class="help-text help-text-1">Medirse <strong>estando sentado</strong> con la pierna en un ángulo de 90 grados</span>
      <span class="help-text help-text-2">Las piernas por lo general llegan a medir hasta 36 cm de altura, entonces hasta 36 seria la última medida proporcionada, de no ser así continuar proporcionando sus medidas hasta que el largo de su pierna termine</span>
      <span class="help-line"><span></span></span>
      <img src="{% static 'img/boot-step-1.png' %}" alt="Imagen de pierna" />
      <div class="inputs-div">
        <div class="input-row active">
          <span class="arrow"></span>
          <span class="circle">12</span>
          <input id="leg_circ_12" type="text" name="leg_circ_12" placeholder="Ej. mide: 26 cm">
        </div>
        <div class="input-row">
          <span class="arrow"></span>
          <span class="circle">16</span>
          <input id="leg_circ_16" type="text" name="leg_circ_16" placeholder="Ej. mide: 27 cm">
        </div>
        <div class="input-row">
          <span class="arrow"></span>
          <span class="circle">20</span>
          <input id="leg_circ_20" type="text" name="leg_circ_20" placeholder="Ej. mide: 30 cm">
        </div>
        <div class="input-row">
          <span class="arrow"></span>
          <span class="circle">24</span>
          <input id="leg_circ_24" type="text" name="leg_circ_24" placeholder="Ej. mide: 32.5 cm">
        </div>
        <div class="input-row">
          <span class="arrow"></span>
          <span class="circle">28</span>
          <input id="leg_circ_28" type="text" name="leg_circ_28" placeholder="Ej. mide: 37.8 cm">
        </div>
        <div class="input-row">
          <span class="arrow"></span>
          <span class="circle">32</span>
          <input id="leg_circ_32" type="text" name="leg_circ_32" placeholder="Ej. mide: 40 cm">
        </div>
        <div class="input-row">
          <span class="arrow"></span>
          <span class="circle">36</span>
          <input id="leg_circ_36" type="text" name="leg_circ_36" placeholder="Ej. mide: 38 cm">
        </div>
        <div class="input-row">
          <span class="arrow"></span>
          <span class="circle">40</span>
          <input id="leg_circ_40" type="text" name="leg_circ_40" placeholder="Ej. mide: 36 cm">
        </div>
        <div class="input-row">
          <span class="arrow"></span>
          <span class="circle">44</span>
          <input id="leg_circ_44" type="text" name="leg_circ_44" placeholder="Ej. mide: 35 cm">
        </div>
      </div>
      <span class="help-text-3">
        <img src="{% static 'img/boot-arrow-1.png' %}" alt="Flecha" />
        Empieza aquí
      </span>
    </div>
  </div>
  <div class="product-form-step">
    <h2 class="step-title" data-number="2">Mide tu pie</h2>
    <p class="step-instructions boots-2">
      Sigue la instrucción de cada dibujo, y ve llenando los recuadros con tus medidas
    </p>
    <div class="boot-foot-instructions">
      <div class="instruction active" data-number="1">
        <div class="instruction-content">
          <span class="instruction-title">Circunferencia de los dedos</span>
          <p class="instruction-text">
            a) ESTANDO DE PIE, toma la medida de la
            circunferencia del dedo gordo del pie al dedo chiquito.
          </p>
          <div class="instruction-elements">
            <img src="{% static 'img/boot-foot-image-1.png' %}" class="instruction-image" alt="Mide tu pie - Figura 1" />
            <input id="finger_circ" type="text" class="instruction-input" name="finger_circ" placeholder="Ej. 22.5 cm">
          </div>
        </div>
      </div>
      <div class="instruction" data-number="2">
        <div class="instruction-content">
          <span class="instruction-title">Dedos</span>
          <p class="instruction-text">
            a) ESTANDO DE PIE, medir la circunferencia del hueso del pie dónde
            empieza el dedo gordo hasta el hueso dónde empieza el dedo chiquito
          </p>
          <div class="instruction-elements">
            <img src="{% static 'img/boot-foot-image-2.png' %}" class="instruction-image" alt="Mide tu pie - Figura 2" />
            <input id="bone_finger_circ" type="text" class="instruction-input" name="bone_finger_circ" placeholder="Ej. 24.5 cm">
          </div>
        </div>
      </div>
    </div>
    <hr class="boot-foot-divider first">
    <div class="boot-foot-instructions">
      <div class="instruction" data-number="3">
        <div class="instruction-content">
          <span class="instruction-title">Empeine</span>
          <p class="instruction-text">
            a) ESTANDO DE PIE, medir la circunferencia del empeine.
          </p>
          <div class="instruction-elements">
            <img src="{% static 'img/boot-foot-image-3.png' %}" class="instruction-image" alt="Mide tu pie - Figura 3" />
            <input id="instep_circ" type="text" class="instruction-input" name="instep_circ" placeholder="Ej. 25 cm">
          </div>
        </div>
      </div>
      <div class="instruction" data-number="4">
        <div class="instruction-content">
          <span class="instruction-title">Talón</span>
          <p class="instruction-text">
            a) ESTANDO DE PIE, medir la circunferencia desde el talón hasta el doblez del pie (queda en diagonal)
          </p>
          <div class="instruction-elements">
            <img src="{% static 'img/boot-foot-image-4.png' %}" class="instruction-image" alt="Mide tu pie - Figura 4" />
            <input id="circ_heel_to_foot" type="text" class="instruction-input" name="circ_heel_to_foot" placeholder="Ej. 33.5 cm">
          </div>
        </div>
      </div>
    </div>
    <hr class="boot-foot-divider second">
    <div class="boot-foot-instructions">
      <p class="step-instructions small">
        Estando de pie, apoyando cómo normalmente pisas, marca un punto dónde está tu dedo más largo, y otro punto dónde está el talón. <br><br>
        Quita el pie y mide el largo de esos dos puntos con una cinta.
      </p>
      <div class="instruction" data-number="5">
        <div class="instruction-content">
          <span class="instruction-title">Pie</span>
          <p class="instruction-text">
            a) ESTANDO DE PIE, tomar medida del dedo más largo al talón.
          </p>
          <div class="instruction-elements">
            <img src="{% static 'img/boot-foot-image-5.png' %}" class="instruction-image" alt="Mide tu pie - Figura 5" />
            <input id="circ_tip_to_hell" type="text" class="instruction-input" name="circ_tip_to_hell" placeholder="Ej. 26.5 cm">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-form boot-form">
    <h2 class="step-title" data-number="3">Llena tus datos</h2>
    <span class="boot-form-legend">Si tienes medidas distintas en cada pierna anótalo en el campo de mensaje ya que es muy importante hacérnoslo saber</span>
    <div class="input-row">
      <label for="name">Nombre</label>
      <div class="input-wrapper">
        <div class="first-name-input">
          <input type="text" id="name" class="full-input" name="name" placeholder="Nombre (s)">
        </div>
        <div class="last-name-input">
          <input type="text" id="last_name" class="full-input" name="last_name" placeholder="Apellidos">
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="street_col">Dirección</label>
      <div class="input-wrapper">
        <div class="address-input">
          <input type="text" id="street_col" class="full-input" name="street_col" placeholder="Calle, Col. Número">
        </div>
        <div class="country-input">
          <input type="text" id="state" class="full-input" name="state" placeholder="Estado">
        </div>
        <div class="postal-code-input">
          <input type="text" id="cp" class="full-input" name="cp" placeholder="C.P.">
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="email">Correo electrónico</label>
      <div class="input-wrapper">
        <div class="full-input">
          <input type="email" id="email" class="full-input" name="email">
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="number">Número de calzado mexicano</label>
      <div class="input-wrapper">
        <div class="shoe-size-input">
          <input type="number" id="number" class="full-input" name="number" min="0" placeholder="Ej. 7">
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="model">Modelo</label>
      <div class="input-wrapper">
        <div class="shoe-size-input">
          <input type="text" disabled id="model" class="full-input" name="model" value="{{ product }}">
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="color">Color de la piel</label>
      <div class="input-wrapper">
        <div class="shoe-size-input">
          <select id="color" class="full-input" name="color">
            <option value="Negro" {% if color == 'Negro' %}selected{% endif %}>Negro</option>
            <option value="Café miel" {% if color == 'Café miel' %}selected{% endif %}>Café miel</option>
            <option value="Café chocolate" {% if color == 'Café chocolate' %}selected{% endif %}>Café chocolate</option>
            <option value="Camel" {% if color == 'Camel' %}selected{% endif %}>Camel (No siempre está disponible)</option>
          </select>
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="element">Porta acicates</label>
      <div class="input-wrapper">
        <div class="shoe-size-input">
          <select id="element" class="full-input" name="element">
            <option value="En broche">En Broche</option>
            <option value="A los costados del cierre">A los costados del cierre</option>
            <option value="Sin porta acicates">Sin porta acicates</option>
          </select>
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="description">Descripción de vestuario</label>
      <div class="input-wrapper">
        <div class="full-input">
          <textarea id="description" class="full-input description-input" name="description" placeholder="Decir cómo estaban vestidos a la hora de que se tomaron las medidas. Lo ideal es que se midan con la ropa que usan para montar."></textarea>
        </div>
      </div>
    </div>
    <span class="single-product-price">Precio de la bota ${{ price|intcomma }}</span>
    <div class="form-message">
    </div>
    <button type="sumbit" name="send">Hacer pedido</button>
    <div class="loader begona-loader">
      <div class="ball-pulse-sync">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</form>
{% include "partials/order_modal.html" %}
{% endblock %}