{% extends "partials/base.html" %}
{% load static from staticfiles %}

{% block meta %}
{% endblock %}

{% block title %}
Botas
{% endblock %}

{% block content %}
<div class="container mt">
  <div class="product">
    <h2 class="inner-heading">Conoce nuestros modelos</h2>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="current"><a href="#Todas" data-toggle="portfilter" data-target="all">Todas</a></li>
      <li role="presentation"><a href="#Botas" data-toggle="portfilter" data-target="Botas">Botas</a></li>
      <li role="presentation"><a href="#Botines" data-toggle="portfilter" data-target="Botines">Botines</a></li>
      <li role="presentation"><a href="#Chaparreras" data-toggle="portfilter" data-target="Chaparreras">Chaparreras</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <div class="row">
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box" >
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="0" data-original-slide-to="0"><img src="{% static 'img/product/product1.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota tipo polo</h4>
              <p>Cierre por delante</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong></div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box" >
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="1" data-original-slide-to="1"><img src="{% static 'img/product/product2.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota con agujetas</h4>
              <p>Cierre por detrás</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong></div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="2" data-original-slide-to="2"><img src="{% static 'img/product/product3.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota clásica</h4>
              <p>Cierre por detrás</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong></div>
          </div>
          <div class="col-sm-4" data-tag='Botines'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="3" data-original-slide-to="3"><img src="{% static 'img/product/product4.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Botín Clásico negro</h4>
              <p>Cierre a un costado</p>
              <strong>Precio: <span style="color: #9b9b9b">$2,400</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botines'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="4" data-original-slide-to="4"><img src="{% static 'img/product/product5.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Botín Clásico café</h4>
              <p>Cierre a un costado</p>
              <strong>Precio: <span style="color: #9b9b9b">$2,400</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="5" data-original-slide-to="5"><img src="{% static 'img/product/product6.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota con agujetas enfrente</h4>
              <p>Cierre por detrás</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="6" data-original-slide-to="6"><img src="{% static 'img/product/product7.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota con costuras en forma de rombo</h4>
              <p>Cierre por delante</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="7" data-original-slide-to="7"><img src="{% static 'img/product/product8.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota con agujetas por delante, chinela de mariposa</h4>
              <p>Cierre por detrás</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="8" data-original-slide-to="8"><img src="{% static 'img/product/product9.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota clásica con copete bicolor</h4>
              <p>Cierre por detrás</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="9" data-original-slide-to=""9><img src="{% static 'img/product/product10.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota con agujetas por delante, perforaciones</h4>
              <p>Cierre por detrás</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="10" data-original-slide-to="10"><img src="{% static 'img/product/product11.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota clásica con copete bicolor en piel crazy</h4>
              <p>Cierre por detrás</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="11" data-original-slide-to="11"><img src="{% static 'img/product/product12.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota con puntera perforada, agujetas por delante</h4>
              <p>Cierre por detrás</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="12" data-original-slide-to="12"><img src="{% static 'img/product/product13.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota con broche de adorno y agujetas por delante</h4>
              <p>Cierre por detrás</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="13" data-original-slide-to="13"><img src="{% static 'img/product/product14.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota con agujetas a un costado</h4>
              <p>Cierre por detrás</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botines'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="14" data-original-slide-to="14"><img src="{% static 'img/product/product17.png' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Botín dos colores</h4>
              <p></p>
              <strong>Precio: <span style="color: #9b9b9b">$2,400</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="15" data-original-slide-to="15"><img src="{% static 'img/product/product18.jpg' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota con neopreno</h4>
              <p>Cierre por detrás</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong> </div>
          </div>
          <div class="col-sm-4" data-tag='Botas'>
            <div class="product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a href="#myCarousel" data-slide-to="16" data-original-slide-to="16"><img src="{% static 'img/product/product19.jpg' %}" class="img-responsive" alt="Product" /></a></div>
              <h4>Bota mona alta, puntera perforada</h4>
              <p>Cierre por detrás</p>
              <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong> </div>
          </div>
        </div>
        <div class="row" data-tag="all">
          <div class="product-detail">
            <div class="product-wrap">
              <div class="col-sm-6 product-box">
                <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a href="#myCarousel" data-slide-to="19" data-original-slide-to="17"><img src="{% static 'img/product/product15.png' %}" class="img-responsive" alt="Product" /></a></div>
              </div>
              <div class="col-sm-6 product-box">
                <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="18" data-original-slide-to="18"><img src="{% static 'img/product/product16.png' %}" class="img-responsive" alt="Product" /></a></div>
              </div>
              <div class="col-sm-12"><strong>Chaparreras: $6,042</strong></div>
            </div>
          </div>
        </div>
        <div class="row" data-tag="Chaparreras" data-only="true" style="display: none">
          <div class="product-wrap">
            <div class="col-sm-6 product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a href="#myCarousel" data-slide-to="16" data-original-slide-to="16"><img src="{% static 'img/product/product15.png' %}" class="img-responsive" alt="Product" /></a></div>
            </div>
            <div class="col-sm-6 product-box">
              <div class="productImg" data-toggle="modal" data-target="#ProductOne"><a  href="#myCarousel" data-slide-to="17" data-original-slide-to="17"><img src="{% static 'img/product/product16.png' %}" class="img-responsive" alt="Product" /></a></div>
            </div>
            <div class="col-sm-12"><strong>Chaparreras: $6,042</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Popup 1 -->

<div class="modal fade" id="ProductOne" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog new-model" role="document">
    <div class="modal-content modal-product">
      <div class="modal-body ">
        <div class="row">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="{% static 'img/close.png' %}" /></span></button>
          <div class="col-xs-12" id="slider">
            <!-- Top part of the slider -->
            <div class="row">
              <div class="col-sm-12" id="carousel-bounding-box">
                <div class="carousel slide" id="myCarousel" data-interval="false">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="product-box active item" data-slide-number="0" data-categories="all, Botas">
                      <div class="productImg pimg">
                        <a href="#"><div><img src="{% static 'img/product/product1.png' %}"></div></a>
                      </div>
                      <div class="row product-description-row">
                        <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                          <h4>Bota tipo polo</h4>
                          <p>Cierre por delante</p>
                          <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                          <a href="{{ boot }}?producto=Bota%20tipo%20polo" class="product-button">Hacer pedido</a>
                        </div>
                      </div>
                    </div>

                    <div class="product-box item" data-slide-number="1" data-categories="all, Botas">
                      <div class="productImg pimg"><a href="#">
                        <div> <img src="{% static 'img/product/product2.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota con agujetas</h4>
                            <p>Cierre por detrás</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong></div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20con%20agujetas" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>


                    <div class="product-box item" data-slide-number="2" data-categories="all, Botas">
                      <div class="productImg pimg"><a href="#">
                        <div> <img src="{% static 'img/product/product3.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota clásica</h4>
                            <p>Cierre por detrás</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong></div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20clásica" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>

                    <div class="product-box item" data-slide-number="3" data-categories="all, Botines">
                      <div class="productImg pimg booty-img"><a href="#">
                        <div> <img src="{% static 'img/product/product4.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Botín Clásico negro</h4>
                            <p>Cierre a un costado</p>
                            <strong>Precio: <span style="color: #9b9b9b">$2,400</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ booty }}?producto=Botín%20clásico%20&color=negro" class="product-button">Hacer pedido</a>
                          </div>
                      </div>
                    </div>

                    <div class="product-box item" data-slide-number="4" data-categories="all, Botines">
                      <div class="productImg pimg booty-img"><a href="#">
                        <div> <img src="{% static 'img/product/product5.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Botín Clásico café</h4>
                            <p>Cierre a un costado</p>
                            <strong>Precio: <span style="color: #9b9b9b">$2,400</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ booty }}?producto=Botín%20clásico&color=cafe" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>

                    <div class="product-box item" data-slide-number="5" data-categories="all, Botas">
                      <div class="productImg pimg"><a href="#">
                        <div> <img src="{% static 'img/product/product6.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota con agujetas enfrente</h4>
                            <p>Cierre por detrás</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20con%20agujetas%20enfrente" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>

                      <div class="product-box item" data-slide-number="6" data-categories="all, Botas">
                      <div class="productImg pimg"><a href="#">
                        <div> <img src="{% static 'img/product/product7.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota con costuras en forma de rombo</h4>
                            <p>Cierre por delante</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20con%20costuras%20en%20forma%20de%20rombo" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>

                      <div class="product-box item" data-slide-number="7" data-categories="all, Botas">
                      <div class="productImg pimg"><a href="#">
                        <div> <img src="{% static 'img/product/product8.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota con agujetas por delante, chinela de mariposa</h4>
                            <p>Cierre por detrás</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20con%20agujetas%20por%20delante%2C%20chinela%20de%20mariposa" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>

                      <div class="product-box item" data-slide-number="8" data-categories="all, Botas">
                      <div class="productImg pimg"><a href="#">
                        <div> <img src="{% static 'img/product/product9.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota clásica con copete bicolor</h4>
                            <p>Cierre por detrás</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20clásica%20con%20copete%20bicolor" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>

                      <div class="product-box item" data-slide-number="9" data-categories="all, Botas">
                      <div class="productImg pimg"><a href="#">
                        <div> <img src="{% static 'img/product/product10.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota con agujetas por delante, perforaciones</h4>
                            <p>Cierre por detrás</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20con%20agujetas%20por%20delante%2C%20perforaciones" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>

                      <div class="product-box item" data-slide-number="10" data-categories="all, Botas">
                      <div class="productImg pimg"><a href="#">
                        <div> <img src="{% static 'img/product/product11.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota clásica con copete bicolor en piel crazy</h4>
                            <p>Cierre por detrás</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20clásica%20con%20copete%20bicolor%20en%20piel%20crazy" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>

                      <div class="product-box item" data-slide-number="11" data-categories="all, Botas">
                      <div class="productImg pimg"><a href="#">
                        <div> <img src="{% static 'img/product/product12.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota con puntera perforada, agujetas por delante</h4>
                            <p>Cierre por detrás</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20con%20puntera%20perforada%2C%20agujetas%20por%20delante" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>

                      <div class="product-box item" data-slide-number="12" data-categories="all, Botas">
                      <div class="productImg pimg"><a href="#">
                        <div> <img src="{% static 'img/product/product13.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota con broche de adorno y agujetas por delante</h4>
                            <p>Cierre por detrás</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20con%20broche%20de%20adorno%20y%20agujetas%20por%20delante" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>

                      <div class="product-box item" data-slide-number="13" data-categories="all, Botas">
                      <div class="productImg pimg"><a href="#">
                        <div> <img src="{% static 'img/product/product14.png' %}"></div>
                        </a></div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota con agujetas a un costado</h4>
                            <p>Cierre por detrás</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20con%20agujetas%20a%20un%20costado" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-box item" data-slide-number="14" data-categories="all, Botines">
                        <div class="productImg pimg booty-img"><a href="#">
                          <div> <img src="{% static 'img/product/product17.png' %}"></div>
                          </a>
                        </div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Botín dos colores</h4>
                            <p></p>
                            <strong>Precio: <span style="color: #9b9b9b">$2,400</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ booty }}?producto=Botín%20dos%20colores" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-box item" data-slide-number="15" data-categories="all, Botas">
                        <div class="productImg pimg booty-img"><a href="#">
                          <div> <img src="{% static 'img/product/product18.jpg' %}"></div>
                          </a>
                        </div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota con neopreno</h4>
                            <p>Cierre por detrás.<br>
                              Neopreno en la parte externa de la pierna , y piel en la parte interna , para un mayor ajuste y flexibilidad.</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20con%20neopreno" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-box item" data-slide-number="16" data-categories="all, Botas">
                        <div class="productImg pimg">
                          <a href="#"><div><img src="{% static 'img/product/product19.jpg' %}"></div></a>
                        </div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Bota mona alta, puntera perforada</h4>
                            <p>Cierre por delante</p>
                            <strong>Precio: <span style="color: #9b9b9b">$4,800</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ boot }}?producto=Bota%20mona%20alta%20puntera%20perforada" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-box item" data-slide-number="17" data-categories="all, Chaparreras">
                        <div class="productImg pimg booty-img"><a href="#">
                          <div> <img src="{% static 'img/product/product15.png' %}"></div>
                          </a>
                        </div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Chaparrera 1</h4>
                            <strong>Precio: <span style="color: #9b9b9b">$6,042</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ chaps }}?producto=Chaparrera%201" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-box item" data-slide-number="18" data-categories="all, Chaparreras">
                        <div class="productImg pimg booty-img"><a href="#">
                          <div> <img src="{% static 'img/product/product16.png' %}"></div>
                          </a>
                        </div>
                        <div class="row product-description-row">
                          <div class="col-md-7 col-sm-7 col-xs-12 product-description-info">
                            <h4>Chaparrera 2</h4>
                            <strong>Precio: <span style="color: #9b9b9b">$6,042</span></strong>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 product-description-button">
                            <a href="{{ chaps }}?producto=Chaparrera%202" class="product-button">Hacer pedido</a>
                          </div>
                        </div>
                      </div>
                  </div>
                  <!-- Carousel nav -->

                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon-chevron-left p-left"><img src="{% static 'img/left-arrow-b.png' %}" /></span> </a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon-chevron-right p-right"><img src="{% static 'img/right-arrow-b.pn' %}g" /></span> </a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
